<section data-ng-controller="DeckbuilderCtrl" data-ng-init="find()">
  <div class="page-header">
    <h1>Build a New Deck</h1>
  </div>
  <div class="ui two column grid">
    <div class="column">
      <div class="ui segment">
        A
      </div>
    </div>
    <div class="column">
    <div class="ui segment">
      B
    </div>
  </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="cardSets.$resolved && !cardSets.length">
    No cards just yet! Route isn't working maybe?
  </div>
</section>